/* ------------------------------------------------ */
/* use in Live Course Contents section */
.card-h3 {
  font-size: 1.25em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-p {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
}
/* ------------------------------------------- */